/**
 * Starry night styles.
 */
@mixin styles {
    /*
     * Colors.
     */
    :root {
        // Highlighted bg/fg colors.
        --color-rehype-starry-night: #080808;
        --color-rehype-starry-night-fg: #c9c9c9;

        // Highlighted presentation colors.
        --color-rehype-starry-night-border: #171f26;
        --color-rehype-starry-night-box-shadow: #000;
        --color-rehype-starry-night-hilited-lines: #121212;

        // Highlighted header colors.
        --color-rehype-starry-night-header: #000;
        --color-rehype-starry-night-header-fg: #c9c9c9;

        // Highlighted header language colors.
        --color-rehype-starry-night-header-language: #222;
        --color-rehype-starry-night-header-language-fg: #c9c9c9;

        // Script comments, gutter marks, punctuation.
        --color-pretty-lights-comment-fg: #696969; // Done.
        --color-pretty-lights-gutter-mark-fg: #3c3c3c; // Done.
        --color-pretty-lights-punctuation-fg: #6a6e76; // Done.

        // Script keywords, constants, variables, strings, etc.
        --color-pretty-lights-keyword-fg: #6382a9; // Done.
        --color-pretty-lights-constant-fg: #ca9d6b; // Done.
        --color-pretty-lights-variable-fg: #be7175; // Done.
        --color-pretty-lights-storage-fg: #be7175; // Done.
        --color-pretty-lights-entity-fg: #ca9d6b; // Done.
        --color-pretty-lights-entity-tag-fg: #e5c07b; // Done.
        --color-pretty-lights-other-link-fg: #80aff9; // Done.
        --color-pretty-lights-string-fg: #84a267; // Done.
        --color-pretty-lights-regexp-fg: #759d6d; // Done.

        // Markdown headings and operators.
        --color-pretty-lights-md-heading-fg: rgb(var(--color-pretty-lights-entity-tag-fg));
        --color-pretty-lights-markup-operator-fg: rgb(var(--color-pretty-lights-punctuation-fg));

        // Range notation in a diff/patch.
        --color-pretty-lights-meta-diff-range-fg: rgb(var(--colors-color-dazzle));

        // Old removed lines in a diff/patch.
        --color-pretty-lights-markup-deleted: rgb(var(--colors-color-danger));
        --color-pretty-lights-markup-deleted-fg: rgb(var(--colors-color-danger-fg));

        // New added lines in a diff/patch.
        --color-pretty-lights-markup-inserted: rgb(var(--colors-color-success));
        --color-pretty-lights-markup-inserted-fg: rgb(var(--colors-color-success-fg));

        // Changed lines in a diff/patch.
        --color-pretty-lights-markup-changed: rgb(var(--colors-color-warning));
        --color-pretty-lights-markup-changed-fg: rgb(var(--colors-color-warning-fg));

        // Ignored lines in a diff/patch.
        --color-pretty-lights-markup-ignored: rgb(var(--colors-color-neutral));
        --color-pretty-lights-markup-ignored-fg: rgb(var(--colors-color-neutral-fg));

        // Illegal, broken, or unrecognized syntax.
        --color-pretty-lights-invalid-illegal: rgb(var(--colors-color-danger));
        --color-pretty-lights-invalid-illegal-fg: rgb(var(--colors-color-danger-fg));

        // Untested. Seems related to whitespace.
        --color-pretty-lights-carriage-return: rgb(var(--colors-color-dark));
        --color-pretty-lights-carriage-return-fg: rgb(var(--colors-color-dark-fg));

        // Untested, seems related to HTML.
        --color-pretty-lights-bracket-angle-fg: rgb(var(--colors-color-dazzle));
        --color-pretty-lights-bracket-unmatched-fg: rgb(var(--colors-color-dazzle));
    }

    /*
     * Rehype plugin {@see https://o5p.me/fSI3OT}.
     */

    .highlight {
        overflow: hidden;
        line-height: 1em;
        background: var(--color-rehype-starry-night);
        border: 1px solid var(--color-rehype-starry-night-border);
        border-radius: 0.375rem;
    }

    .highlight-header {
        display: flex;
        gap: 0.5em;
        align-items: center;
        padding: 0.5em;
        color: var(--color-rehype-starry-night-header-fg);
        background: var(--color-rehype-starry-night-header);
        border-block-end: 1px solid var(--color-rehype-starry-night-border);
        border-radius: 0.375rem 0.375rem 0 0;
    }

    .highlight-language {
        padding: 0.25em 0.5em 0.15em;
        font-family: ui-monospace, monospace;
        font-size: 0.75em;
        color: var(--color-rehype-starry-night-header-language-fg);
        text-transform: uppercase;
        background: var(--color-rehype-starry-night-header-language);
        border-radius: 0.1875rem;
    }

    .highlight pre {
        padding: 0.8571em 0;
        margin: 0;
        background: none;
        border-radius: 0;
        box-shadow: inset 0 0 2px 2px var(--color-rehype-starry-night-box-shadow);
    }

    .highlight pre > code {
        display: grid;
        color: var(--color-rehype-starry-night-fg);
    }

    .highlight pre .line {
        padding-inline: 1.1428em;
    }

    .highlight pre .line:focus:not(:focus-visible),
    .highlight pre .line:hover {
        background: var(--color-rehype-starry-night-hilited-lines);
    }

    .highlight pre .line[data-highlighted] {
        background: var(--color-rehype-starry-night-hilited-lines);
        border-inline-start: 2px solid var(--color-pretty-lights-comment-fg);
    }

    .highlight pre .line[data-highlighted] .line-number {
        color: var(--color-pretty-lights-comment-fg);
    }

    .highlight pre .line .line-number {
        margin-inline-end: 1em;
        color: var(--color-pretty-lights-gutter-mark-fg);
        user-select: none;
    }

    .highlight pre .line .line-prompt::before {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-inline: -0.175em 0.35em;
        vertical-align: middle;
        content: '';
        background: var(--color-pretty-lights-comment-fg);
        mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17.179 5.597C13.491 3.081 5.957 3.057 6.344 8.186c.399 5.287 11.204 1.813 11.566 7.102.369 5.375-8 5.71-11.832 2.666M12.017 2v20'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-position: top center;
        mask-size: contain;
    }

    /*
     * Pretty lights syntax; {@see https://o5p.me/i6E6m1}.
     */

    .pl-c {
        color: var(--color-pretty-lights-comment-fg);
    }

    .pl-c1,
    .pl-s .pl-v {
        color: var(--color-pretty-lights-constant-fg);
    }

    .pl-e,
    .pl-en {
        color: var(--color-pretty-lights-entity-fg);
    }

    .pl-smi,
    .pl-s .pl-s1 {
        color: var(--color-pretty-lights-storage-fg);
    }

    .pl-ent {
        color: var(--color-pretty-lights-entity-tag-fg);
    }

    .pl-k {
        color: var(--color-pretty-lights-keyword-fg);
    }

    .pl-pds,
    .pl-ms {
        color: var(--color-pretty-lights-punctuation-fg);
    }

    .pl-s,
    .pl-s .pl-pse .pl-s1,
    .pl-sr,
    .pl-sr .pl-cce,
    .pl-sr .pl-sre,
    .pl-sr .pl-sra {
        color: var(--color-pretty-lights-string-fg);
    }

    .pl-v,
    .pl-smw {
        color: var(--color-pretty-lights-variable-fg);
    }

    .pl-bu {
        color: var(--color-pretty-lights-bracket-unmatched-fg);
    }

    .pl-ii {
        color: var(--color-pretty-lights-invalid-illegal-fg);
        background: var(--color-pretty-lights-invalid-illegal);
    }

    .pl-c2 {
        color: var(--color-pretty-lights-carriage-return-fg);
        background: var(--color-pretty-lights-carriage-return);
    }

    .pl-sr .pl-cce {
        font-weight: bold;
        color: var(--color-pretty-lights-regexp-fg);
    }

    .pl-ml {
        color: var(--color-pretty-lights-markup-operator-fg);
    }

    .pl-mh,
    .pl-mh .pl-en {
        font-weight: bold;
        color: var(--color-pretty-lights-md-heading-fg);
    }

    .pl-mi {
        font-style: italic;
    }

    .pl-mb {
        font-weight: bold;
    }

    .pl-md {
        color: var(--color-pretty-lights-markup-deleted-fg);
        background: var(--color-pretty-lights-markup-deleted);
    }

    .pl-mi1 {
        color: var(--color-pretty-lights-markup-inserted-fg);
        background: var(--color-pretty-lights-markup-inserted);
    }

    .pl-mc {
        color: var(--color-pretty-lights-markup-changed-fg);
        background: var(--color-pretty-lights-markup-changed);
    }

    .pl-mi2 {
        color: var(--color-pretty-lights-markup-ignored-fg);
        background: var(--color-pretty-lights-markup-ignored);
    }

    .pl-mdr {
        font-weight: bold;
        color: var(--color-pretty-lights-meta-diff-range-fg);
    }

    .pl-ba {
        color: var(--color-pretty-lights-bracket-angle-fg);
    }

    .pl-sg {
        color: var(--color-pretty-lights-gutter-mark-fg);
    }

    .pl-corl {
        color: var(--color-pretty-lights-other-link-fg);
        text-decoration: underline;
    }
}
