<!doctype html>
<html lang="en" class="foo">
	<head>
		<title><%= env.APP_PUBLIC_TITLE %></title>
		<meta name="author" content="<%= env.APP_PUBLIC_TITLE %>" />
		<meta name="description" content="<%= env.APP_PUBLIC_DESCRIPTION %>" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="<%= env.APP_PUBLIC_TITLE %>" />
		<meta property="og:url" content="<%= env.APP_PUBLIC_BASE_URL %>" />
		<meta property="og:description" content="<%= env.APP_PUBLIC_DESCRIPTION %>" />
		<meta property="og:image" content="<%= env.APP_PUBLIC_BASE_URL %>/assets/brand/og-image.png" />

		<link rel="icon" href="/assets/brand/icon.png" type="image/png" />
		<link rel="icon" href="/assets/brand/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/assets/brand/icon.png" type="image/png" />

		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<script async type="module" crossorigin src="./index.ts"></script>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
